
body{
    font-family: arial, sans-serif;
    font-size: 13px;
    cursor: pointer;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;


    
}
nav ul li {
    padding-left: 15px;
    padding-right: 15px;

}
nav ul li a{
    text-decoration: none;
    font-family: arial, sans-serif;
}
#topright {
    float: right;
    display: flex;
    flex-direction: row;
    
}
#topleft {
    display: inline-block;

}
nav a{
    color: black;
}
.logo {
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
    flex-shrink: 0;
    box-sizing: border-box;
    margin-top: 4%;
    margin-left: 22%;
}
.button {
    background-color: #512ea8;
    border-radius: 50px;
    font: 13px,Arial,sans-serif;
    color: #fff;
    background-size: 32px 32px;
    border: 0;
    border-radius: 50%;
    display: block;
    margin: 0;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
}
#search {
    flex: 1;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding: 5px 8px 0 16px;
    padding-left: 14px; 
}
form {
    display: flex;
    margin: 0;
    justify-content: center;
}
input[type=text]{
    width: 500px;
    height: 36px;
    border-radius: 52px;
    border: 1px solid #dfe1e5;

}
input[type=submit]{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
}
input[type=submit]:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
    cursor: pointer;
    
}
.lastline {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    padding-top: 30px;
}
#search1{
    display: flex;
    flex-direction: row;
}
#search2 {
    display: flex;
    flex-direction: row;
}

